.container-wide{
  width:100%;
  margin:auto;
  margin-top:5px;
  overflow: hidden;
  background-color: #e5f2f7;
}

.chart {
  display: table;
  width: 100%;
}
.chart li {
  position: relative;
  display: table-cell;
  vertical-align: bottom;
  height: 200px;
}
.chart span {
  margin: 0 1em;
  display: block;  
  animation: draw 1s ease-in-out;
}

.chart li .redflag{
    background: rgb(216, 89, 115);
}

.chart li .intervention{
    background: #5b7f8d;
}

.chart span:before {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  padding: 5px 1em 0;
  display: block;
  text-align: center;
  content: attr(title);
  word-wrap: break-word;
}
@keyframes draw {
  0% {
    height: 0;
  }
}

@media screen and (max-width: 470px){

    .chart li {
      height: 100px;
  }

  .container-wide{
    overflow: auto;
  }

  .card.intervention-card {
    float: none;
    width: 100%;
}

  .card.redflag-card {
    float: none; 
    width: 100%;
  }

  .cards{
    min-height: 200px;
  }

  .card{
    height: 150px;
  }

}
